<%-include('../cabecalho.ejs')%>
    <section class="col-12 col-md-10">

        <div class="card my-4">

            <div class="card-header">Lista Produtos </div>

            <div class="card-body">

                <form method="post">

                    <div class="mb-3">

                        <label for="id" class="forme-label">ID</label>
                        <input type="text" name="id" readonly id="nome" class="form-control"
                            value="<%=Produto._id%>">

                    </div>

                    <div class="mb-3">

                        <label for="nome" class="forme-label">Nome</label>
                        <input type="text" name="nome" required id="nome" class="form-control"
                            value="<%=Produto.nome%>">

                    </div>

                    <div class="mb-3">

                        <label for="valor" class="forme-label">Valor</label>
                        <input type="number" name="valor" required id="valor" class="form-control"
                            value="<%=Produto.valor%>">

                    </div>

                    <div class="mb-3">

                        <label for="foto" class="forme-label">Foto</label>
                        <input type="file" name="foto" required id="foto" class="form-control"
                            value="<%=Produto.foto%>">

                    </div>

                    <div class="mb-3">

                        <input type="submit" value="adicionar" class="form-control" >

                    </div>

                </form>

            </div>

        </div>

    </section>

    <%-include('../rodape.ejs')%>